:root {
  --dark-red: #4d1207;
  --darker-blue: #12033c;  
  --neutral: rgb(172, 172, 172);
  --light-blue: #60a0ba;
  --dark-blue: #8ab3e8;
  --logo-blue: rgb(169, 188, 212);
  --yellow: rgb(247, 202, 24);
  --grey-color: #9da09d;
  --red-brand-color: #F95E5C; 
  --dark-black-color: #383838;

  --orange-brand: #FFB067;
  --yellow-brand: #FFED86;
  --blue-brand: #A2DCE7;
  --pink-brand: #F8CCDC;

  --blue-sands-brand: #29B3FF;
  --lightblue-sands-brand: #81EAFF;
  --darkyellow-sands-brand: #FBC00E;
  --yellow-sands-brand: #FFD774;

  --grey-color: #9da09d;
  --red-brand-color: #F95E5C;  
  --font-size: 18px;
  --dark-black-color: #383838; 
}

.close-button {
  /* font-size: 15px;
  width: 100%;
  padding-top: -10px; */
}

.login-modal {
  width: 500;
  height: 700;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header {
  /* text-align: center; */
  font-weight: 600;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.login-form {
  padding: 18px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-login-input, 
.password-login-input,
.username-login-input {
  border-bottom: none;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid var(--grey-color);
  font-weight: 400;
  font-size: var(--font-size);
  margin: auto;
  justify-content: center;
}


.email-login-input,
.username-login-input,
.password-login-input  {
  border-radius: 8px;
}

.continue-button, .demo_button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  align-self: center;
  /* touch-action: manipulation; */
  /* margin-top: 16px; */
  height: 48px;
  /* font-size: 16px; */
  font-size: var(--font-size);
  font-weight: bold;
  width: 500px;
  background: linear-gradient(to right, var(--blue-sands-brand), var(--darkyellow-sands-brand));
  /* background: black; */
  /* color: rgb(255, 255, 255); */
  border-radius: 8px;
  /* width: 100%; */
  margin-top: 15px;
  justify-content: center;
  margin-left: 15px;

}

.demo-button-div{
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: auto; */
  /* height:100%; */
  /* width:100%; */
}

.demo_button {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 15px;

  /* margin: auto; */
  padding-left: 38px;
  padding-right: 30px;
  /* margin-left: 20px; */
  color: var(--dark-black-color);
  /* background: white; */
  /* border: 1px solid var(--dark-black-color); */
  background: linear-gradient(to right, var(--darkyellow-sands-brand), var(--blue-sands-brand));

}

.agree-message {
  display: flex;
  color: rgb(152, 151, 151);
  font-weight: 500;
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.agree-message a {
  text-decoration: none;
  color:var( --blue-sands-brand);
  margin-left: 1px;
  margin-right: 1px;
}

.continue-span {
  margin-left: 3px;
  margin-right: 3px;
  font-weight: bold;
}