.tripshowpage {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    /* height: 100%; */
    border: 2px solid white;
    padding: 20px;
}

.tripshowtrippanel {
    display: flex;
    justify-content: center;
    width: 45%;
    /* height: 700px; */
    border: 2px solid var(--neutral );
    border-radius: 15px;
     
}

.Edit_Trip_Link,
.Edit_Event_Link {
    margin-right: 15px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -50px;
    left: -70px;
    padding: 6px;
    color: black;
    white-space: nowrap; 
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;  
    border-radius: 8px;  
    -moz-box-shadow: 0px 0px 4px #222;  
    -webkit-box-shadow: 0px 0px 4px #222;  
    box-shadow: 0px 0px 4px #222;  
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    font-family: sans-serif;
    background-color: white;
}
[data-title] {
    position: relative;
}

.tripshow_title_container,
.eventshow_title_container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 15px;
}

#tripshowtriptitle,
#eventitemtitle {
    font-size: 25px;
    font-weight: bold;
    flex: 0 1 auto;
    position: absolute;
    top:-15%;
    left: 50%;
    transform: translateX(-50%);
}

.edit_delete_buttons{
    text-align: right;
    flex: 0 1 auto;
    margin-left: auto;
}

.edit_delete_buttons_event{
    text-align: right;
    flex: 0 1 auto;
    margin-left: auto;
    position: relative;
    right: 30px;
}

.tripshoweventslist {
    display: block;
    overflow-y: scroll;
    width: 45%;
    /* height: 700px; */
    border: 2px solid var(--neutral);
    border-radius: 15px;

}

#tripshowstartdate span {
    font-weight: 700;
}

.tripshowinfo {
    width: 80%;
    margin: 20px 0px 20px 0px;
    
}
.tripshowinfoitem {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;

}

.eventitembox:hover {
    transform: scale(1.005);
    background-color: var(--lightblue-sands-brand);
}

.eventitembox {
    border: 2px grey solid;
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
    margin: 10px;
    /* background-color: rgb(171, 187, 234); */
}

.dateseperator {
    border-top: 1px solid darkgrey;
    min-height: 30px;   
}

.dateseperatortext {
    padding: 5px 0px 5px 0px;
    text-align: center;
}   

#eventitemtitle {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

#eventform {
    border-top: 1px solid lemonchiffon;
}

.trip_show_images_ul {
    text-align: center;
    margin-bottom: 10px;
  }
  

.trip_show_images_li {
    display: inline;
}

.trip_show_images {
    height: 55px;
    font-weight: 30px;
    border-radius: 8px;
    aspect-ratio: 1;
    object-fit: cover;
    display: inline;
    margin-bottom: 10px;
    margin-right: 10px; 

}


