:root {
  --dark-red: #4d1207;
  --darker-blue: #12033c;  
  --neutral: rgb(172, 172, 172);
  --light-blue: #60a0ba;
  --dark-blue: #8ab3e8;
  --logo-blue: rgb(169, 188, 212);
  --yellow: rgb(247, 202, 24);
  --grey-color: #9da09d;
  --red-brand-color: #F95E5C; 
  --dark-black-color: #383838;

  --orange-brand: #FFB067;
  --yellow-brand: #FFED86;
  --blue-brand: #A2DCE7;
  --pink-brand: #F8CCDC;

  --blue-sands-brand: #29B3FF;
  --lightblue-sands-brand: #81EAFF;
  --darkyellow-sands-brand: #FBC00E;
  --yellow-sands-brand: #FFD774;

  --grey-color: #9da09d;
  --red-brand-color: #F95E5C;  
  --font-size: 18px;
  --dark-black-color: #383838; 
}

.createtrip_modal button {
  margin-left: 10px;
  margin-top: 10px;
  /* color: var(--blue-sands-brand); */
  font-weight: 400;
}

ul li button:hover {
  transform: scale(1.005); 
  z-index: 2;
  box-shadow: 1px 1px 2px 1px #8a8888;
  border-radius: 8px;
  padding: 3px;

}

.close-button {
  font-size: 15px;
  width: 100%;
  padding-top: -10px;
}

.createtrip_modal {
  width: 600;
  height: 700;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.createtrip_header {
  /* text-align: center; */
  font-weight: 600;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.createtrip_form {
  padding: 18px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createtrip_input {
  border-bottom: none;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid var(--grey-color);
  font-weight: 400;
  font-size: var(--font-size);
  margin: auto;
  justify-content: center;
  border-radius: 8px;
}

.createtrip_input.description {
  height: 70px;
  margin-top: 10px;
}

.tripformsubheader {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tripcreate_button, .addfriends_button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  align-self: center;
  /* touch-action: manipulation; */
  /* margin-top: 16px; */
  height: 48px;
  /* font-size: 16px; */
  font-size: var(--font-size);
  font-weight: bold;
  /* width: 500px; */
  background: linear-gradient(to right, var(--blue-sands-brand), var(--darkyellow-sands-brand));
  /* background: black; */
  /* color: rgb(255, 255, 255); */
  color: black;
  border-radius: 8px;
  /* width: 100%; */
  margin-top: 15px;
  justify-content: center;
  margin-left: 15px;
}

.tripcreate_button {
  width: 100%;
  margin-bottom: 15px;
}


.addfriends_button {
  /* margin-left: 10px; */
  margin-top: 10px;
  margin-bottom: 15px;

  /* margin: auto; */
  padding-left: 30px;
  padding-right: 30px;
  /* margin-left: 20px; */
  color: var(--dark-black-color);
  /* background: white; */
  /* border: 1px solid var(--dark-black-color); */
  background: linear-gradient(to right, var(--darkyellow-sands-brand), var(--blue-sands-brand));
  /* width: 50%; */
  display: inline-block;
}

.addfriends_container{
  text-align: right;
}

.addfriends_button:hover,
.tripcreate_button:hover {
  transform: scale(1.005); 
  z-index: 2;
  box-shadow: 1px 1px 2px 1px #8a8888;
  border-radius: 8px;
}

.friends_list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.friends_list_container span{
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, var(--darkyellow-sands-brand), var(--blue-sands-brand));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

.friendsemail_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;

}

.removefriend_button {
  color: var(--blue-sands-brand);

}
