/* RESET */
h1, h2, h3, h4, h5, h6, p, div, span, nav, link, body {
  margin: 0px;
  padding: 0px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO Add site wide styles */
form > .errors {
  color: red;
  font-size: 0.875em;
  height: 15px;
  display: flex;
  align-items: center;
}

*, body {
  font-family: 'Montserrat', sans-serif;
}

